{% set servers_com_info={ "servers_com_info": item } %}
{% set aliases=[] %}
{% for ip in item.ipv4 %}
    {%- if ip.type != 'alias' %}
        {%- if servers_com_info.servers_com_info.update({ ip.type: { "ip": ip.ip, "id": ip.id } }) %}{% endif %}
    {%- else %}
        {%- if aliases.append(ip) %}{% endif %}
    {%- endif %}
{% endfor %}
{% if servers_com_info.servers_com_info.private is defined %}
    {%- if servers_com_info.update({ "int_ip": servers_com_info.servers_com_info.private.ip } ) %}{% endif %}
{% endif %}
{% if servers_com_info.servers_com_info.public is defined %}
    {%- if servers_com_info.update({ "ext_ip": servers_com_info.servers_com_info.public.ip } ) %}{% endif %}
{% endif -%}

{{ servers_com_info|combine({ 'servers_com_info': { 
'private': { "uplinks": uplinks[servers_com_info.servers_com_info.id]['private'] },
'public':  { "uplinks": uplinks[servers_com_info.servers_com_info.id]['public']  },
'aliases': aliases
}}, recursive=True) |to_nice_json }}
